/*
	FLEXBOX
*/
.show {
	display: block;
}

.hide {
	display: none;
}

.docs article, .docs .item {
	padding-left:2em;
	padding-bottom:2em;
}
.docs .item h2 {
	margin-bottom:0px;
}

.flexbox {
	display: flex;
	flex-direction:row;
}

.menu .item{
	margin:0.04em;
}
