.show {
	display: block;
}

.hide {
	display: none;
}

.docs article, .docs .item {
	padding-left:2em;
	padding-bottom:2em;
}
.docs .item h2 {
	margin-bottom:0px;
}

.flexrow {
	display: flex;
	flex-direction:row;
}

.container {
	width:100vw;
	height:100vh;
	display: grid;
	grid-template-columns:10% 90%;
	grid-template-rows: 5% auto 5%;
}
.column {
	grid-area: menu;
	grid-column:1/2;
	grid-row:1/4;
}

body {
	margin:0px;
	overflow-x:hidden;
}

header {
	grid-column:2/3;
	grid-row:1/2;
}

.main {
	grid-column:2/3;
	grid-row:2/3;
}
.main .item {
	float:left;
	margin:2em;
	width:20em;
	height:20em;
}

footer {
	grid-column:2/3;
	grid-row:3/4;
}

.menu .item{
	margin:0.04em;
}
