/* Script CSS classes */
.show {
	display: block;
}

.hide {
	display: none;
}

/* General layout items */
.flexrow {
	display: flex;
	flex-direction:row;
}
.flexcolumn {
	display: flex;
	flex-direction:row;
}
.container {
	width:100vw;
	height:100vh;
	display: grid;
}

body {
	margin:0px;
	overflow-x:hidden;
}

header nav {
	margin: 0 0.15em  0 0.15em ;
}

.main {
	overflow-y:scroll;
	overflow-x:hidden;
	display:grid;
}

.main .item {
	margin:0em 2em;
	width:100%;
	height:100%;
}

header nav {
	justify-content: space-between;
}

.menu .item{
	margin:0.04em;
}

.related {
	display:flex;
	flex-flow:row;
	justify-content:space-between;
}

/* Dashboard grid layout systems */

.dashboard .container {
	grid-template-columns:10% 90%;
	grid-template-rows: 7.5% auto;
}
.dashboard .main {
	grid-column:2/3;
	grid-row:2/3;
	overflow-y:hidden;
}

.dashboard header {
	grid-column:2/3;
	grid-row:1/2;
}

.dashboard .column {
	grid-column:1/2;
	grid-row:1/3;
	overflow-y:hidden;
}

/* Login page grid items */

.login .container {
	grid-template-columns:100%;
	grid-template-rows: 7.5% auto 5%;
}

.login header {
	grid-column:1/2;
	grid-row:1/2;
}

.login footer {
	grid-column:1/2;
	grid-row:3/4;
}
.login .main {
	margin:auto;
	padding:auto;
	display:flex;
	flex-flow:column;
	justify-content: space-around;
	overflow-y:hidden;
}
.login .featured {
	width:20em;
	height:10em;
}
.login .featured input {
	margin:.2em;
	width:90%;
	font-size:24pt;
}

.login .main {
	grid-column:1/2;
	grid-row:2/3;
}

.login .main,.dashboard .main {
	grid-template-columns:100%;
	grid-template-rows: 100%;
}

/* Index page grid bits */
.index .container {
	grid-template-columns:10% 90%;
	grid-template-rows: 7.5% auto 5%;
}
.index .column{
	grid-column:1/2;
	grid-row:1/4;
}
.index header {
	grid-column:2/3;
	grid-row:1/2;
}

.index footer {
	grid-column:2/3;
	grid-row:3/4;
}

.index .main {
	grid-column:2/3;
	grid-row:2/3;
	grid-template-rows: 80% auto 2%;
	grid-template-columns:100%;
}

.index .related {
	grid-column:1/2;
	grid-row:2/3;
}

.index .featured {
	grid-column:1/2;
	grid-row:1/2;
}
.index .featured .card {
	width: 50%;
	margin: auto;
}
.card:container {
    padding: 2px 16px;
}
